<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Password checker</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>
  <body>

 <nav class="navbar navbar-expand-lg navbar-dark bg-dark"><i>
  <a class="navbar-brand" style="color: red" href="/">HackNews</a></i>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/hacklist">Hack List</a>
      </li>
      
    </ul>
  </div>
</nav>
<br><br><br>

<center>
   <div class="col-lg-4">
    <input class="form-control" style="border-color: red" id="ex3" placeholder="Search By Name" type="text">
    <br>
    <button type="button" class="btn btn-outline-danger">Search
    </button>

  </div>
</center>


<center>
<br><br>
{{#each data}}
<div class="card border-danger mb-3" style="max-width: 60rem;">
    <img src={{ this.LogoPath }} style="max-height:110px; "  class = "img-thumbnail" alt = "image logo">

  <div class="card-header bg-danger text-white border-danger"><h2> {{ this.Name }} </h2></div>
  <div class="card-body text-white bg-danger">
    <h5 class="card-title">{{ this.title }}</h5>
    <p><b> Domain:</b> {{ this.Domain }}</p>
    <p><b>Breach Date :</b> {{ this.BreachDate }}</p>
    <p><b> Pwned :</b> {{ this.PwnCount}} </p>
    <p class="description">{{this.Description }}</p>
    <p><b>Data breached:</b> {{ this.DataClasses }}</p>

  </div>
 </div>
 <br><br>
{{/each}}
</center>
<script type="text/javascript">
  d = document.querySelectorAll(".description");
  document.querySelectorAll(".description").innerHTML = 'hello0....'
     // for (var i = 0; i < d.length; i++) {
        
    //   d[i].innerHTML = values[i]

    // }
</script>
  </body>
  </html>